.a_detail{
   height: 100%;
   display:flex;
   flex-direction:column;
   position:fixed;
   z-index:10;
   background:#fff;
   .a_header{
    height:1.173333rem;
    border-bottom:0.026667rem solid #ccc;
    display:flex;
    justify-content:space-between;
    span{
        display:block;
        position:relative;
        width:0.533333rem;
        margin:0 0.266667rem;
        i{
            left:0;
        }
    }
   }
    .a_main{
        flex:1;
        overflow-x:hidden;
        display:block;
        left:0;
    }
}
.a_img{
    img{

        width: 100%;
    }
}